# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
fastapi==0.115.4
sqlalchemy-pagination-fastapi==0.0.4
pydantic==2.9.2
python-dotenv==1.0.1
snowflake-sqlalchemy==1.6.1
fastapi-filter==2.0.0
fastapi-sqlalchemy-filter==0.2.5